*{
    margin: 0px;
    padding: 0px;
    font-family: open sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;;
}

.main1{
    background: #f9f8f8;
    height: 800; 
}
.main2{
    background: #007bff;
    height: 600;
}
.main3{
    background: #ffffff;
    height: 600;    
}
.main4{
    height: 553;
    background: url(bg2.jpg) center no-repeat fixed;
}
.main5{
    color: white;
    height: 500px;
}
a{
    text-decoration: none;
    color: #f8f9fa
}
.header1{
    background: url(background.jpg) center no-repeat fixed;
    height: 785;

}
.fll{
    float: left;
    margin-top: 3%;
    
}
.butt{
   
    background-color: #007bff;
    width: 115px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 0px;
    border-radius: 400px;
    font-size: 15px;
    text-align: center;
    float: left;
    
 }
 .txt1{
     font-size: 1.3em;
     color: white;
     float: left;
     margin-top: 11%;
     
 }
 .butt2{
     
    background-color: #007bff;
    width: 167px;
    height: 45px;
    border-radius: 400px;
    font-size: 18px;
    text-align: center;
    float: left;
    padding-top: 18px;
 }
 .butt3{
     
    background-color: #ffffff;
    width: 167px;
    height: 45px;
    border-radius: 400px;
    font-size: 18px;
    text-align: center;
    float: left;
    padding-top: 18px;
 }
 .minibutt{
     
    background-color: #e5ebf7;
    width: 130px;
    height: 21px;
    border-radius: 400px;
    font-size: 12px;
    text-align: center;
    float: left;
    color: #3375ec;
    padding-top: 2px;
    
 }
 .clear{
     clear: both;
 }
 .color:hover {
    background:#ff6f80;
  }
  .color1:hover {
    background:#007bff;
  }